h1{
    text-align: center;
}
.alert
{
    color:red
}
.add-todos
{
    display: flex;
    justify-content: center;
   
}
.submit-todo
{
    background-color: rgb(101, 187, 101);
}
.delete-todo
{
    background-color: rgba(255, 0, 0, 0.1);
    flex-direction: column;
    border-color: rgb(224, 77, 77);
    color: rgb(224, 77, 77);
}
.display-todo
{
    display: flex;
    align-items: center;
    flex-direction: column;
}